/* .App {
  text-align: center;
}

button {
  margin-top: 2rem;
  height: 2.5rem;
}

p {
  margin-top: 2rem;
  width: 15rem;
  text-align: center;
  margin-left: 32rem;
}

#add-btn {
  width: 3rem;
  height: 2rem;
  margin-left: 1rem;
}

ul {
  list-style-type: none;
} */

.colored-div {
  width: 64.466px;
  height: 64.466px;
  border-radius: 50%;
  background-image: linear-gradient(48deg, #5957DF 7.4%, #42B5E5 87.24%);
  box-shadow: 0 0 10px 2px #42B5E5;
  flex-shrink: 0;
  margin-left: 2rem;
  margin-top: 2rem;
}